.home-bg {
  background-image: url('../images/home-bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 90vh;
}

.nav-text {
  margin: 0px;
  padding-top: 100px;
  font-weight: 200;
}

.nav-subheader {
  font-weight: 200;
}

.about-margin {
  margin-bottom: 40px;
  margin-top: 40px;
}

.about-img {
  height: 150px;
  border-radius: 5%;
}