.auth-wrapper {
  padding: 50px !important;
  background: rgba(185, 182, 182, .8);
  border-radius: 5%;
}

.auth-button {
  width: 100%;
}

.auth-book-bg {
  background-image: url('https://res.cloudinary.com/taylorwu21/image/upload/v1494368790/book-bg_tdvnox.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}