.auth-wrapper {
  padding: 50px !important;
  background: rgba(185, 182, 182, .8);
  border-radius: 5%;
}

.auth-button {
  width: 100%;
}

.auth-book-bg {
  background-image: url('book-bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}