.home-bg {
  background-image: url('https://res.cloudinary.com/taylorwu21/image/upload/v1494368791/home-bg_ejbazl.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 90vh;
}

.about-margin {
  margin-bottom: 40px;
  margin-top: 40px;
}

.about-img {
  height: 150px;
  border-radius: 5%;
}